
<!DOCTYPE html>
<html>
<body>
<h1>This is the about page.</h1>

<ul>
  <li><%= link_to 'Home', root_path  %></li>
  <li><%= link_to 'About', about_path  %></li>
  <li>Events</li>
  <li>Contact Us</li>
</ul>  

<%= link_to image_tag('girl.jpg'), 'www.google.com' %>

<p>This is the link to the home page.</p>
<%= link_to 'Home', root_path  %>


</body>

</html>